<!DOCTYPE html>
<html>
  <!-- render partials -->
  <%= render'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <!-- To display debug information -->
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
